/*  Adobe Fonts */
@import url("https://use.typekit.net/lgh3lyf.css");

/*  Tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Footer  */

#footer {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.fixed-target {
  bottom: -100vh;
}

.fixed-element,
.fixed-target {
  position: absolute;
  top: -100vh;
  right: 0;
  left: 0;
}

.fixed-element {
  height: 100%;
  width: 100%;
}

/*  TEST    */
#footer {
  background: linear-gradient(
    300deg,
    rgba(82, 93, 255, 0.914),
    rgba(252, 255, 119, 0.82),
    rgba(153, 255, 151, 0.624),
    rgba(97, 170, 255, 0.72),
    rgba(35, 128, 180, 0.867),
    rgba(82, 93, 255, 0.914),
    rgb(207, 66, 202),
    rgb(255, 89, 89),
    rgb(255, 89, 89),
    rgb(251, 146, 60),
    rgb(217, 70, 239),
    hsl(217, 91%, 60%),
    rgb(228, 77, 77)
  );
  background-size: 240% 240%;
  animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
